.App {
  text-align: center;
}

.App-header {
  text-align: left;
  background-color: lightblue;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-header a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}

button {
  cursor: pointer;
  outline: none;
  color: darkblue;
  border: 2px solid darkblue;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

input {
  outline: none;
  color: darkblue;
  border: 2px solid darkblue;
  font-weight: bold;
  padding: 5px;
}
